@charset "UTF-8";

/*CSS重置*/
body,
html {
    margin: 0;
    padding: 0;
    font-family: "PingFang", "Microsoft YaHei", "Lantinghei SC", arial, "\5b8b\4f53", sans-serif, tahoma;
    color: #333;
}

input,
textarea {
    font-family: "PingFang", "Microsoft YaHei", "Lantinghei SC", arial, "\5b8b\4f53", sans-serif, tahoma;
    font-size: 13px;
    -webkit-appearance: none;
}

body {
    font-size: 13px;
}

body a {
    outline: none;
    text-decoration: none !important;
}

blockquote,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    list-style: none;
}

img {
    border: none;
}

em,
i {
    font-style: normal;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.clearfix:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: '';
}

* html .clearfix {
    height: 1%;
}

*+html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
    clear: both;
}

*:focus {
    outline: none;
}

input {
    outline: none;
}

* {
    box-sizing: border-box;
}

input[type="button"],
input[type="number"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: none;
}

textarea {
    -webkit-appearance: none;
    resize: none;
}

html {
    background: #F2F6F9;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

/*CSS重置 end*/

/* 以下是单聊-素材中心-全部素材-最近浏览样式 */
.ew-cus-info {
    box-sizing: border-box;
    width: 360px;
    color: #000;
    position: relative;
}

.allMaterial-nav-wrapper {
    width: 100%;
    height: 29px;
    background: #fff;
}

.allMaterial-nav li {
    width: 25%;
    float: left;
    color: #999999;
    list-style: none;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    font-weight: 400;
}

.allMaterial-nav .active {
    color: #318EF9;
    font-weight: 600;
}

.allMaterial-nav2-wrapper {
    width: 100%;
    height: 30px;
    background: #f5f5f5;
}

.allMaterial-nav2 li {
    width: 50%;
    float: left;
    color: #999999;
    list-style: none;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    font-weight: 500;
    border-bottom: 1px solid #4A8EF1;
}

.allMaterial-nav2 .active {
    color: #fff;
    background: #4A8EF1;
}

.allMaterial-search-wrapper {
    padding: 12px 15px 0px;
    background: #fff;
}

.allMaterial-search {
    background: #f5f5f5;
    border-radius: 30px;
    padding: 8px 14px;
    box-shadow: 0px 7px 12px 1px rgba(195, 201, 248, 0.1);
}

.allMaterial-search img {
    width: 13px;
    margin-right: 6px;
    vertical-align: -2px;
}

.allMaterial-search input {
    border-style: none;
    background: #f5f5f5;
    width: 90%;
}

input::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #ccc;
}

input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #ccc;
}

input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #ccc;
}

input:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #ccc;
}

.allMaterial-nav3-wrapper {
    width: 100%;
    background: #fff;
    padding-top: 12px;
}

.allMaterial-nav3 li {
    width: 33.3333%;
    float: left;
    color: #999999;
    list-style: none;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
}

.allMaterial-nav3 li img {
    width: 13px;
    vertical-align: -2px;
    margin-right: 2px;
}

.allMaterial-nav3 .active {
    color: #318EF9;
    font-weight: 600;
    border-bottom: 2px solid #4A8EF1;
}

.allMaterial-list {
    padding: 15px;
    background: #fff;
    margin-top: 5px;
}

.allMaterial-list2-text {
    font-size: 14px;
    color: #343434;
    font-weight: 500;
}

.allMaterial-list2-date {
    font-size: 12px;
    color: #969696;
    font-weight: 500;
    margin-top: 5px;
}

.allMaterial-list-img {
    display: inline-block;
    height: 75px;
    width: 75px;
    border-radius: 3px;
    background-image: url(../images/recentBrowse-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 5px;
    position: relative;
}

.allMaterial-position {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 75px;
    height: 17px;
    border-radius: 0px 0px 3px 3px;
    background: rgba(0, 0, 0, 0.5);
    font-size: 12px;
    color: #fff;
    text-align: center;
}

.allMaterial-list3 {
    margin-top: 17px;
    margin-left: 68px;
}

.allMaterial-list3 span {
    padding: 5px 15px;
    min-width: 64px;
    background: #318EF9;
    border-radius: 3px;
    margin-left: 10px;
    cursor: pointer;
}

.allMaterial-list3 span img {
    height: 11px;
}

.allMaterial-list .allMaterial-list3-collection {
    background: #DAE9FB;
    color: #318EF9;
}

.allMaterial-list .allMaterial-list3-forwarding {
    color: #fff;
}

/* 以下是单聊-素材中心-内容推荐-新电商 */
.content-nav li {
    width: 50%;
}

.guessYouNeed {
    width: calc(100% - 10px);
    margin: 8px auto 60px;
    text-align: center;
}

.guessYouNeed-01 {
    width: calc(50% - 8px);
    float: left;
    background-color: #fff;
    margin: 4px;
    border-radius: 3px;
    position: relative;
    box-shadow: 1px 4px 6px 1px rgba(48, 48, 48, 0.01);
}

.eg-img {
    width: 100%;
    height: 99px;
}

.guessYouNeed-part01 {
    padding: 2px 0px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 96%;
}

.serialNumber {
    font-size: 12px;
    text-align: left;
    padding: 8px 0px 2px;
    color: #999999;
}

.content-price {
    font-size: 15px;
    color: #FF3636;
    font-weight: 500;
    padding: 2px 0px;
    margin-top: 4px;
}

.content-forwarding {
    padding: 5px 15px;
    min-width: 64px;
    background: #318EF9;
    border-radius: 3px;
    margin-left: 10px;
    cursor: pointer;
    color: #fff;
}

.content-forwarding img {
    height: 11px;
}

.guessYouNeed-content {
    padding: 0px 7px 12px 6px;
}

/* 以下是产品详情弹窗样式 */
.contentDetails-windows {
    position: fixed;
    top: 29px;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 360px;
    z-index: 99;
}

.contentDetails-text {
    position: fixed;
    width: 360px;
    padding: 22px 15px;
    bottom: 0px;
    left: 0;
    background: #FFFFFF;
    box-shadow: 0px 0px 14px 7px rgba(118, 117, 117, 0.2);
    border-radius: 10px 10px 0px 0px;
}

.contentDetails-title {
    font-size: 15px;
    font-weight: 500;
}

.contentDetails-icon span {
    width: 23px;
    height: 23px;
    border-radius: 3px;
    background: #DAE9FB;
    display: inline-block;
    text-align: center;
    padding-top: 4px;
    margin-left: 8px;
}

.contentDetails-icon img {
    height: 11px;
}

.contentDetails-icon .contentDetails-icon-forwarding {
    background: #318EF9;
}

.newElectricity-window-img {
    margin-top: 14px;
}

.newElectricity-window-img img {
    width: 97px;
    height: 97px;
    border-radius: 6px;
    display: block;
    float: left;
}

.newElectricity-window-information {
    margin-left: 13px;
}

.newElectricity-price {
    color: #FF3636;
    font-size: 19px;
    font-weight: 500;
    line-height: 29px;
    display: block;
}

.newElectricity-label {
    padding: 2px 0px;
    background: linear-gradient(90deg, #FF861F, #FF662A);
    border-radius: 2px;
    color: #FFFFFF;
    font-size: 12px;
    width: 48px;
    text-align: center;
    display: block;
    margin-bottom: 8px;
}

.newElectricity-number {
    margin-top: 7px;
}

.newElectricity-id {
    color: #999;
    width: 60px;
    display: inline-block;
}

.newElectricity-food {
    color: #999;
    margin-top: 10px;
    margin-bottom: 4px;
}

.newElectricity-add {
    color: #4483F7;
    text-decoration: underline;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 78%;
    vertical-align: -5px;
}

.newElectricity-link {
    display: inline-block;
    width: 20%;
}

/* 以下是多聊-素材中心-素材列表样式 */
.talkMore {
    border-bottom: 1px solid #328EF9;
}

.materialList-label {
    padding: 14px 15px;
    justify-content: space-between;
    display: flex;
}

.materialList-label span {
    padding: 2px 8px;
    background: #f5f5f5;
    border: 1px solid #f5f5f5;
    border-radius: 3px;
    color: #9A9A9A;
}

.materialList-label .materialList-label-pre {
    background: #E2ECFE;
    border: 1px solid #328EF9;
    color: #328EF9;
}

/* 以下是多聊-素材中心-我的素材样式 */
.myMaterial-forwarding {
    margin-top: 38px;
    margin-left: 167px;
}

.myMaterial-label {
    display: block;
}

.myMaterial-label span {
    margin-right: 20px;
}

/* 以下是多聊-转发成功提示样式 */
.forwardSuccess {
    width: 300px;
    background: #9AD418;
    box-shadow: 0px 5px 6px 0px rgba(151, 151, 151, 0.17);
    border-radius: 3px;
    position: fixed;
    top: 205px;
    left: 30px;
    font-weight: 600;
    color: #FFFFFF;
    text-align: center;
    padding: 8px 0px;
}

.forwardSuccess img {
    width: 16px;
    vertical-align: -3px;
}

/* 以下是多聊-存量运营样式 */
.stockOperationSelect-wrapper {
    background: #fff;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 2px;
    position: relative;
}

.stockOperationSelect li {
    width: 50%;
    float: left;
    font-size: 14px;
    color: #9A9A9A;
}

.stockOperationSelect img {
    width: 10px;
    vertical-align: 2px;
}

.stockOperationSelect .stockOperationSelect-pre {
    color: #343434;
}

.stockOperation-list-wrapper {
    border-top: 1px solid #E9EAEB;
    margin-top: 5px;
}

.stockOperation-list {
    padding: 15px 15px 15px 5px;
    background: #fff;
    border-bottom: 1px solid #E9EAEB;
}

.stockOperation-list img {
    width: 45px;
    height: 45px;
    border-radius: 4px;
    float: left;
    margin-right: 11px;
}

.stockOperation-list-name {
    font-weight: 500;
    color: #646464;
    font-size: 12px;
}

.stockOperation-list-name01 {
    font-size: 14px;
    color: #343434;
    margin-bottom: 10px;
}

.stockOperation-list-date {
    text-align: right;
}

.stockOperation-list-date01 {
    color: #9A9A9A;
    font-weight: 400;
    margin-bottom: 13px;
}

.stock-more {
    color: #3082FF;
    font-size: 12px;
    text-align: center;
    border-bottom: 1px solid #E9EBEC;
    background: #F2F6F9;
    padding: 4px 0;
}

.stock-more img {
    width: 9px;
}

.stockOperation-information-wrapper {
    background: #fff;
    padding: 4px 19px 30px;
}

.stockOperation-information {
    margin-top: 14px;
}

.color-9A {
    color: #9A9A9A;
    margin-bottom: 2px;
}

/* 以下是展开群成员样式 */
.stock-morePackUp {
    background: #4A8EF1;
    color: #fff;
    border-bottom: 1px solid #4A8EF1;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 360px;
}

.pdb25 {
    padding-bottom: 25px;
}

/* 以下是以下是多聊-存量运营样式下拉框样式 */
.select-dropDown-wrapper {
    position: absolute;
    top: 40px;
    left: 0px;
    text-align: left;
    padding: 15px 39px 0;
    background: #fff;
    width: 100%;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 1px 2px 7px 1px rgba(0, 0, 0, 0.14);
}

.select-dropDown li {
    color: #9A9A9A;
    margin-bottom: 10px;
    font-weight: 400;
}

.select-dropDown img {
    width: 13px;
    margin-left: 65px;
}

.select-dropDown .active {
    font-weight: 500;
    color: #328EF9;
}